/*移动端默认字体大小16px*/
/*样式重置*/
* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: "Microsoft YaHei UI Light", serif;
}
body {
    width: 100%;
}
a {
    text-decoration: none;
    display: block;
}
select{border:none;outline:none;width:100%;height:8rem;line-height:8rem;font-size:3rem;
    color: #999999;}

/*公用样式*/
.clear {
    clear: both;
}
.bar {
    width: 100%;
    height: 8.5rem;
    background: #ed6d00;
}
.icons {
    float: left;
    width: 11.5%;
    position: relative;
    top: 25%;
    left: 4%;
}
.icons img {
    display: block;
    width: 4.5rem;
}
.title {
    font-size: 5.25rem;
    color: #ffffff;
    text-align: center;
    float: left;
    width: 77%;
    height: 8.5rem;
    line-height: 8.5rem;
}
.menu{
    float: right;
    width: 11.5%;
    position: relative;
    top: 15%;
}
.dis-no{display:none;}
.next-button{text-align: center;}
.next{width: 94%;height: 8.5rem;background: #ed6d00;border: 0;color: #ffffff;border-radius: .5rem;font-size: 4rem;}

/*观众预登记页面*/
.register-content{background: #ffffff;}
.reg-title{padding:4.7rem 3rem 4.7rem 3rem;}
.reg-title-content{font-size:4rem;color: #333333;font-weight: bolder;}
.reg-form{padding:0 3rem 0 3rem;}
form input{ width:75rem;height:8rem; border-radius:.5rem;border:1px solid black; font-size:4.5rem;}
form div{margin-bottom:2rem;}
.emails{color:#333333;margin-bottom:6rem;}
input::-webkit-input-placeholder{font-size:4rem;position:relative; left:3rem;}
.reg-line{width:81.5rem;height:1.2rem;background:#f4f4f4;position: relative;left: -3rem;}
.reg-down{margin-bottom:3.5rem;}
.required{}
.reg-pass-set{margin-bottom:3rem;}
.reg-pass-confirm{margin-bottom:3.9rem;}
.selector{width:75rem;height:8rem;border-radius:.5rem;border:1px black solid; font-size:1rem;}
.selector:after{}
.line{color:rgb(244,244,244);width:100px;height:20px;}
.top-4rem{margin-top:4rem;}


/*问卷调查页面*/
.exam-form{padding-left:2.7rem;margin-bottom:2rem;}
.question{overflow:hidden;}
.q-title{display:inline-block; font-size: 4.5rem;font-weight: lighter;margin-top: 8rem;margin-bottom: 3rem;margin-left: 3rem;}
.q-tip{font-size: 3rem;color: red;margin-left: 2.5rem;display: none;}

