/*移动端默认字体大小16px*/
/*样式重置*/
* {
    margin: 0;
    padding: 0;
}
html {
    font-size:20px;
}
body {
    width: 100%;
    font-family: "Microsoft YaHei UI Light", serif;
    font-size:14px;
    margin:0 auto;
    background: #fff;
}
a {
    text-decoration: none;
    display: block;
}
select{
    border: solid 1px #999999;
    outline:none;
    width:100%;
    font-size:2rem;
    color: #999999;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background: url("image/arrow.png") no-repeat  scroll right center transparent;
    background-size: 5rem;
}
input{
    outline:none;
    box-shadow:none;
}
/*公用样式*/
.clear {
    clear: both;
}
.bar {
    width: 100%;
    height: 5.5rem;
    background: #ed6d00;
}
.icons {
    float: left;
    width: 12.5%;
    position: relative;
    top: 28%;
    left: 6%;
}
.icons img {
    display: block;
    width: 2.5rem;
}
.title {
    font-size: 2.5rem;
    color: #ffffff;
    text-align: center;
    float: left;
    width: 77%;
    line-height: 5.5rem;
}
.menu{
    float: right;
    width: 11.5%;
    position: relative;
    top: 15%;
}
.dis-no{display:none;}
.next-button{text-align: center;}
.next{width: 94%;height: 5.5rem;background: #ed6d00;border: 0;color: #ffffff;border-radius: .5rem;font-size: 2.5rem;}
form input, form select{ width: 41rem;height: 4rem;border:1px solid #333333;border-radius: .5rem;margin-bottom: 2rem;font-size: 2rem;padding-left: 2rem;}
form input:focus{border:1px solid #305ebc;}
form select{ width: 43rem;}
form select option{ font-size:0.8rem;}
/*观众预登记页面*/
/*.register-content{background: #ffffff;}*/
.reg-title{padding:2.7rem 3rem 2.7rem 3rem;}
.reg-title-content{font-size:2rem;color: #333333;font-weight: bold;}
.reg-form{padding:0 3rem 0 3rem;}
.email,form input{color:#333333;}
select::-ms-expand { display: none; }
/*form div{margin-bottom:2rem;}*/
/*.emails{color:#333333;margin-bottom:6rem;}*/
/*input::-webkit-input-placeholder{font-size:4rem;position:relative; left:3rem;}*/
.reg-line{width:114%;height:1.2rem;background:#f4f4f4;position: relative;left: -3rem;margin-bottom:1rem;}
/*.reg-down{margin-bottom:3.5rem;}*/
/*.required{}*/
/*.reg-pass-set{margin-bottom:3rem;}*/
/*.reg-pass-confirm{margin-bottom:3.9rem;}*/
/*.selector{width:75rem;height:8rem;border-radius:.5rem;border:1px black solid; font-size:1rem;}*/
/*.line{color:rgb(244,244,244);width:100px;height:20px;}*/
/*.top-4rem{margin-top:4rem;}*/


/*问卷调查页面*/
.exam-form{padding-left:2.7rem;margin-bottom:2rem;}
.question{overflow:hidden;}
.q-title{display:inline-block; font-size: 4.5rem;font-weight: lighter;margin-top: 8rem;margin-bottom: 3rem;margin-left: 3rem;}
.q-tip{font-size: 3rem;color: red;margin-left: 2.5rem;display: none;}

